<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <form action="/resetPassword" method="POST">
            <div id="resetPass-container">
                <h1>Reset your Password</h1>
                <label for="password">Password</label>
                <input placeholder="Enter Password" id="pass" name="password" type="password" minlength="8" required>

                <label for="cpassword">Confirm Password</label>
                <input placeholder="Re-enter Password" id="cpass" type="password" required>
                <p id="output-msg" style="color: green;">{{ confirmationMsg }}</p><br>
                <button type="submit" id="resetBtn">Reset Password</button>
                <p class="links"><a href="/index">Log in!</a></p> 
                <p class="links"><a href="/signup">Don't have a Account? Sign Up!</a></p>
            </div> 
        </form> 
    </div> 
    <canvas id="canvas1"></canvas>
                        
    <script src="js/particle.js" type="text/javascript"></script>
    <script src="js/script.js" type="text/javascript"></script>

</body>

</html>