@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');

* {
    color: var(--font-primary-color);
    font-family: 'Lato', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

:root {
    --font-primary-color: white;
}

#particles-js {
    height: 100vh;
    background-color: #000222;
    overflow: hidden;
    position: relative;
}

h1 {
    margin: 0;
    padding: 20px;
}

.links-login a{
    text-align: left;
    text-decoration: none;
}

input {
    margin: .8rem;
    width: 15vw;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

.form-container {
    width: 50%;
    margin: auto;
}

#center-login-container {
    position: absolute;
    text-align: center;
    top: 25%;
    width: 50%;
    margin: auto;
    font-size: larger;
    transform: translateY(-50%);
    transform: translateX(50%);
}

button {
    color: black;
    padding: 5px;
    font-size: medium;
    width: 100px;
    border-radius: 10px;
    background-color: white;
}